.notifier
  .alert-message.xwarning
    = link_to 'x', '#', :class => 'close'
    %p
      %strong 你还没有签到呢, 亲!
      
  .alert-message.xwarning
    = link_to 'x', '#', :class => 'close'
    %p
      %strong 你还没有下班呢, 亲!
      
  .alert-message.warning
    = link_to 'x', '#', :class => 'close'
    %p
      %strong 你还没有写日报呢, 亲!