%table.bordered-table.zebra-striped
  %thead
    %tr
      %th{ :style => 'width: 120px;' } 日期
      %th 计划
      %th 实际情况
  %tbody
    - @week_reports.each do |report|
      %tr
        %td= I18n.localize(report.created_at, :format => :week)
        %td= link_to truncate(report.plan, :length => 10), '#', 'data-placement' => 'below', :rel => 'popover', 'data-content' => report.plan, 'data-original-title' => report.goal, :class => 'should_popover'
        %td= report.content
