%table.bordered-table.zebra-striped
  %thead
    %tr
      %th{ :style => 'width: 120px;' } 日期
      %th 计划
      %th 实际情况
  %tbody
    %tr
      %td 星期一
      %td= link_to 'xxx', '#', 'data-placement' => 'below', :rel => 'popover', 'data-content' => 'xxxxx', 'data-original-title' => 'asdfasdfasdf', :class => 'should_popover'
      %td xxx
    %tr
      %td 星期二
      %td xxx
      %td xxx
    %tr
      %td 星期三
      %td xxx
      %td xxx
    %tr
      %td 星期四
      %td xxx
      %td xxx
    %tr
      %td 星期五
      %td xxx
      %td xxx