.content
  .page-header
    %h3 团队成员
  
  .row
    - collection.each do |resource|
      .well.popover-well.gallery
        .avatar
          = gravatar_tag resource.email,  :size => 120, :class => 'large-bird'
        .details
          %span= resource.name