#services
  .row
    .who-we-are
      .header
        %h4 Who We Are
      %p We are a group of designers combining our skills to create traditional and new creative graphic solutions for your communicational issues. Bons doesn't work to win awards, we do high quality effective works that rewards our ...
    .what-we-do
      .header
        %h4 What We Do
      %p Our aim is to improve your product or service communications with your costumers/clients. Our team of developers contribute to our wide ranging skill set to find the best solution for your communicational issues.
    .our-services
      .header
        %h4 Our Services
      .list-block.left
        %ul.check-list-orange
          %li Webdesign
          %li Internet advice
          %li Management
          %li Online software
      .list-block
        %ul.check-list-orange
          %li Logo Design
          %li Promotion
          %li Development
          %li SEO and Marketing