= render 'layouts/sidebar/page'

.content
  .page-header
    %h3= resource.page_title
  
  .body= resource.page_content
  
.content
  .page-header
    %h3 å…¬å¸æˆå‘˜
    
  - if resource.code == 'about'
    = render 'users/index', :collection => @users