= render 'layouts/sidebar/page'

.content
  .page-header
    %h3= resource.page_title
  
  .body= resource.page_content
  
- if resource.about_page?
  .content
    .page-header
      %h3 å…¬å¸æˆå‘˜
      = render 'users/index', :collection => @users