company:
  name: Playable
  address: 上海市长宁区威宁路天山星城13栋103室
  phone: 12345678
  domain: www.playab.net
  introduce:
    zh: example
    jp: example
    en: example

mail:
  address:    your email server address here
  domain:     your domain here
  user_name:  your username here
  password:   your password here