.page-header
  %h1
    = t('mongoid.models.' + resource_class.name.downcase)
    %small= t('admin.info.' + resource_class.name.downcase)
.well
  = link_to t('admin.actions.back'), collection_path, :class => 'btn large primary'

.row
  .span16
    = render 'form', :url => resource_path(resource)