.page-header  
.row
  .span16
    %table.zebra-striped
      %tbody
        - if collection.blank?
          %tr
            %td &nbsp;
            %td{:colspan => 9}= t('admin.meta.empty_data')
        - else
          - collection.each do |resource|
            %tr
              %td
                = gravatar_tag resource.user.email, :size => 20
                = link_to resource.title << '(' << resource.tags.map(&:name).join(',') << ')', post_path(resource)
              %td
                = resource.created_at.strftime("%Y-%m-%d %H:%M:%S")