/*================== Layout ==================*/
html {
    background-color: #DDF3F7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.024) inset;
    display: table;
    height: 100%;
    width: 100%;
}
body {
  background: none;
}
.topbar {
  margin-bottom: 10px;
  position: static;
}

.container-fluid > .content {
    margin-left: -23px;
    margin-right: 250px;
    background-color: white;
}

.container-fluid > .sidebar {
    float: right;
    position: relative;
    width: 240px;
    background-color: #E7F6F9;
}

.content .page-header {
  padding: 10px;
  margin: 0 10px 0 10px;
}

.content .row {
  padding: 20px;
  margin-left: 0;
}

.sidebar .box {
  padding: 20px 0 10px 0;
}

.sidebar ul li a {
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 100%;
  display: block;
}

.sidebar .box ul {
  list-style: none;
  margin: 0 0 5px 0px;
  text-align: center;
}

.sidebar .box li a.selected {
  background-color: #79C5E9;
  color: white;
}

.topbar-inner, .topbar .fill {
  background-color: #4A91B9;
  background-image: -moz-linear-gradient(center top , #559BC3, #4A91B9);
}

.topbar-inner a {
  color: white;
}

.topbar-inner ul li.active a, .topbar-inner ul li.active a {
  background-color: #4588AD;
}

ul.nav.main_menu a {
  font-size: 13px;
}

.topbar div > ul .menu-dropdown, .nav .menu-dropdown, .topbar div > ul .dropdown-menu, .nav .dropdown-menu {
  background-color: #4A91B9;
}

.topbar div > ul .menu-dropdown li a, .nav .menu-dropdown li a, .topbar div > ul .dropdown-menu li a, .nav .dropdown-menu li a {
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.topbar div > ul .menu-dropdown li a:hover, .nav .menu-dropdown li a:hover, .topbar div > ul .dropdown-menu li a:hover, .nav .dropdown-menu li a:hover {
    background-color: #4588AD;
    background-image: -moz-linear-gradient(center top , #4588AD, #4588AD);
    background-repeat: repeat-x;
    color: #FFFFFF;
}

.topbar div > ul .menu-dropdown .divider, .nav .menu-dropdown .divider, .topbar div > ul .dropdown-menu .divider, .nav .dropdown-menu .divider {
  border-color: #E0E0E0;
  background: none;
}


form input, form textarea, form select, input[type="checkbox"], input[type="radio"] {
  margin-left: 20px;
}

form select.tiny {
  width: 50px
}

form label abbr {
  color: red;
}

form .actions {
  background: none;
  border-top: none;
}

form .clearfix span.error {
  display: block;
  max-width: 600px;
  font-size: 11px;
  line-height: 18px;
  margin-left: 180px;
  color: #9D261D;
}
form .clearfix span.hint {
  display: block;
  max-width: 600px;
  font-size: 11px;
  line-height: 18px;
  margin-left: 180px;
  color: #BFBFBF;
}

form .clearfix span label.collection_check_boxes, form .clearfix span label.collection_radio {
  float: none;
  margin-left: 10px;
}
.ke-container.ke-container-default {
  margin-left: 180px;
}

li.gap {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  float: left;
  line-height: 34px;
  padding: 0 14px;
  text-decoration: none;
}

.media-grid a {
  color: black;
  text-align: center;
}
.row a {
  color: black;
}
.row .well span.price {
  font-size: 18px;
  margin-right: 10px;
}

.btn.black {
  background-color: black;
  background-image: none;
}

.row .well a.btn.black {
  color: white;
}

.blogentry .avatar {
  float: left;
  padding: 3px;
  margin-right: 10px;
}

.blogentry h3 {
  margin-left: 55px;
  line-height: 26px;
}
.blogentry .meta {
/*  background: none repeat scroll 0 0 #F5F5F5;*/
border-radius: 0 0 3px 3px;
margin-bottom: 5px;
}
.blogentry .meta li.more {
  float: right;
}
.blogentry .meta .tags a {
  background: none repeat scroll 0 0 black;
  color: #FFFFFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

h5.category {
  background-color: #222222;
  background-image: -moz-linear-gradient(center top , #333333, #222222);
  background-repeat: repeat-x;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  text-align: center;
}

.user_detail.span16 p {
  width: 85%;
}
.row h5.category a {
  color: white;
}

.blogentry hr {
  margin: 2px 0 19px;
}

.popover-well.gallery {
  width: 410px;
  float: left;
  margin-right: 20px;
}
.popover-well.gallery .inner {
  width: 250px;
}
.popover-well.gallery img.large-bird {
  margin: 5px 0 0 290px;
}
.popover-well .popover-wrapper {
  margin-left: 0px;
  height: 140px;
  width: 80%;
}
.popover-well ul.albums {

}

.popover-well {
  min-height: 125px;
}

.alert-message.notice {
  background-color: black;
  color: white;
  background-image: -moz-linear-gradient(center top , black, black);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.alert-message.notice a {
  color: white;
}

.alert-message.notice p {
  color: white;
}
.artist_albums {
  padding-top: 30px;
}
.artist_album ul.media-grid {
  margin-left: 0;
}
.artist_album ul.media-grid a {
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  float: left;
  margin: 0 0 5px 5px;
  padding: 2px;
}

.media-grid li a.btn {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
}
.media-grid li span {
  float: right;
}

.press.media-grid a {
  border: 0;
}
.add_more {
  margin-left: 365px;
}

.topbar {
  z-index: 9998;
}

.footer {
  background-color: white;
}

img.welcome {
  border: 0 none;
  display: block;
  margin: 200px auto auto;
  vertical-align: middle;
}
ul.breadcrumb.welcome {
  background-color: white;
  background-image: none;
  border: 0;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 0 #FFFFFF inset;
  margin: 10px 0 0 30px;
  padding: 7px 14px;
}
.right {
  float: right;
  margin: 3px 0;
}

.topbar h3 a, .topbar .brand {
  padding: 0px 20px 0px;
}
