section#banner {
  margin: 0;
  padding-top: 0px;
  width: 900px;
  border: 1px solid #E6E5E5;
  @include border-radius(1px);
  @include box-shadow(0 -1px 5px rgba(0, 0, 0, 0.1));

  #ads_slideshow_wrapper {
    width:              900px;
    height:             250px;
    margin-left:        auto;
    margin-right:       auto;
    position:           relative;
    overflow:           hidden;
    #ads_slideshow {
      .ad_wrapper {
        position:       relative;
        height:         250px;
        width:          900px;
        .title {
          position:     absolute;
          bottom:       0;
          left:         0;
          height:       40px;
          width:        880px;
          padding:      0 10px;
          background:   image-url('pixel_90_white.png') repeat transparent;
          line-height:  40px;
          font-size:    14px;
          color:        #666666;
          a {
            text-decoration: none;
            color:      #666666;
            transition: all 0.25s ease-in-out;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            &:hover {
              color:    black;
            }
          }
        }
      }
    }

    #ads_pagination_wrapper {
      position:         absolute;
      bottom:           9px;
      right:            10px;
      #ads_pagination {
        text-align:     right;
        a {
          background:   image-url('slideshow_dots_sprite.png') 0 0 no-repeat transparent;
          width:        18px;
          height:       12px;
          margin:       0;
          display:      inline-block;
          &.selected {
            background-position: -18px 0;
            cursor:     default;
          }
          span { display: none; }
        }
      }
    }
  }
}

section#main {
  padding-top: 10px;
  margin-top: 10px;
  border: 1px solid #E6E5E5;
  @include border-radius(1px);
  @include box-shadow(0 -1px 5px rgba(0, 0, 0, 0.1));
  display: block;
  position: relative;
  width: 900px;

  .row {
    margin-left: 0px;
    background-color: white;
  }

  #services {
    width: 900px;
    margin: 0;
    padding: 0 auto;
    position: relative;
    display: block;

    h5 {
      font-size: 14px;
      color: #67AEE6;
      background: #fff;
      display: inline-block;
      padding-right: 10px;
    }

    .header { 
      background: image-url("bg-header-services.png") repeat-x scroll 0 7px transparent;

      h4 {
        color: #67AEE6;
        line-height: 25px;
        background: none repeat scroll 0 0 white;
        display: inline-block;
        margin-bottom: 15px;
        padding-right: 10px;
      }
    }

    .what-we-do {
      float: left;
      padding-left: 20px;
      padding-top:10px;
      width: 280px;
    }

    .our-services {
      padding-top:10px;
      float: left;
      padding-left: 20px;
      width: 280px; 

      .list-block { 
        width: 140px;
        display: inline-block;
      }

      .left {
        float: left;
      }

      ul.check-list-orange {
        list-style-position: inside;
        list-style-type: none;
        margin: 0;

        li {
          background: image-url("list-sprite.png") no-repeat scroll 0 6px transparent;
          padding-left: 20px;
        }
      }
    }

    .who-we-are {
      padding-top:10px;
      float: left;
      padding-left: 20px;
      width: 280px;

      span { display: block; }
      p { margin-bottom: 0; }
    }
  }



  #portfolio {
    padding-top: 20px;
    width: 900px;

    h5 {
      font-size:14px;
      color:#67AEE6;
      background:#fff;
      display:inline-block;
      padding-right:10px;
      margin-bottom:0px;
    }

    .title h5 {
      background:none;
      font-size:14px;
      color:#fffefe;
      display:inline-block;
      padding-right:10px;
    }

    .header {
      margin-left: 20px;
      background: image-url("bg-header-services.png") 0 7px repeat-x;

      h4 {
        color: #67AEE6;
        line-height: 25px;
        background: none repeat scroll 0 0 white;
        display: inline-block;
        margin-bottom: 15px;
        padding-right: 10px;
      }
    }

    .ca-container{
      position: relative;
      width: 810px;
      height: 130px;
      margin-bottom: 10px;
      padding-left: 45px;
      padding-right: 20px;

      .ca-wrapper{
        width:100%;
        height:100%;
        position:relative;

        .ca-item{
          position:relative;
          float:left;
          width:205px;
          height:100%;
          text-align:center;

          .ca-item-main{
            position:absolute;
            top:5px;
            bottom:5px;
            width: 190px;
            height: 127px;
            overflow:hidden;
            @include box-shadow(1px 1px 2px #aaa);
          }
        }
      }
    }

    .no-padding-bottom {
      padding-bottom:0 !important;
    }
    .no-padding-top {
      padding-top:0 !important;
    }

    .no-padding {
      padding:0 !important;
    }
    .no-margin {
      margin :0 !important;
    }

    .ca-item-main .divider-1px {
      border-bottom: 1px solid #6b6765;
      margin:15px 10px 20px;
    }

    .ca-item .title { 
      width:170px;
      padding-top:40px;
    }
    .ca-item .title h3 {
      text-transform:uppercase;
      color:#FFF;
    }

    span.ca-nav-prev{
      background:transparent image-url("arrows.png") no-repeat;	
      background-position: 0px 0px;
      width: 25px;
      height: 39px;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      left:0;
      text-indent: -9000px;
      cursor: pointer;
      opacity: 0.2;
      z-index: 100;
      margin-left: 10px;
    }
    span.ca-nav-next {
      background:transparent url("arrows.png") no-repeat;	
      background-position: -25px 0px;	
      left:875px;
      width:25px;
      height:39px;
      position:absolute;
      top:50%;
      margin-top:-25px;
      text-indent:-9000px;
      cursor:pointer;
      opacity:0.2;	
      z-index:100;
      margin-left: -15px;
    }

    span.ca-nav-prev:hover{
      background:transparent url("arrows.png") no-repeat;	
      background-position: 0 -39px;	
      opacity:1;	
    }
    span.ca-nav-next:hover{
      background:transparent url("arrows.png") no-repeat;	
      background-position: -25px -39px;	
      opacity:1;	
    }
  }
}