.sidebar.blog
  .box
    %h3 RSS订阅
  .box
    %h3 按月份归档
    %ul.archives
      - @archives.each do |month, posts|
        %li= link_to l(month, :format => :month_archive, :count => posts.count), '#'
  
  .box
    %h3 按分类归档
    %ul.categories
      - @categories.each do |category|
        %li= link_to t('sidebar.category_archive', :name => category.name, :count => category.posts_count), category_posts_path(category)