%section#banner
  .content_wrapper
    #ads_slideshow_wrapper
      #ads_slideshow
        .ad_wrapper
          .title 这里仅仅是标题拉哈哈1
          .photo= image_tag('example/slide1.png')
        .ad_wrapper
          .title 这里仅仅是标题拉哈哈2
          .photo= image_tag('example/slide2.png')
        .ad_wrapper
          .title 这里仅仅是标题拉哈哈3
          .photo= image_tag('example/slide3.png')
      #ads_pagination_wrapper
        #ads_pagination