.content.portfolio
  .page-header
    %h3= t('layout.products')
    
    
  %ul.case_study_block
    - collection.each do |resource|
      %li.row
        .main
          .title= resource.name
          .entry= resource.description
        .aside
          .gallery
            = image_tag(resource.photos.first.photo.medium)
    